<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>

    <NotFound>
        <h3>Página no encontrada</h3>
    </NotFound>
</Router>
